.imgwrapper {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}
.imgwrapper img {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
}

.fancybox__content {
    max-height: 90vh;
    overflow: auto;
}
